.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.mediaWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #ffffff;

  .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
  }

  .image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
  }
}

.content {
  flex-grow: 1;
  padding: 15px;
  text-align: center;

  .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .price {
    font-size: 16px;
    color: #666;
    font-weight: 500;
  }
}

.bottomBackground {
  background: url('/BackgroundContact.png') no-repeat center center / cover,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  padding: 10px;
  color: white;
  text-align: left;
  width: 100%;
  height: 30%;

  .label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
  }
}

/* Responsive styles */
// @media (max-width: 1024px) {
//   .card {
//     width: 250px;
//     height: 330px;
//   }

//   .mediaWrapper {
//     height: 200px;
//   }

//   .content {
//     padding: 10px;

//     .title {
//       font-size: 16px;
//     }

//     .price {
//       font-size: 14px;
//     }
//   }

//   .bottomBackground {
//     .label {
//       font-size: 12px;
//     }

//     .title {
//       font-size: 14px;
//     }

//     .price {
//       font-size: 16px;
//     }
//   }
// }

@media (max-width: 768px) {

  .mediaWrapper {
    height: 180px;
  }

  .content {
    padding: 8px;

    .title {
      font-size: 14px;
    }

    .price {
      font-size: 12px;
    }
  }

  .bottomBackground {
    padding: 8px;

    .label {
      font-size: 10px;
    }

    .title {
      font-size: 12px;
    }

    .price {
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .card {
    width: auto;
    height: auto;
  }

  .mediaWrapper {
    height: 150px;
  }

  .content {
    .title {
      font-size: 12px;
    }

    .price {
      font-size: 10px;
    }
  }

  .bottomBackground {
    padding: 5px;

    .label {
      font-size: 10px;
    }

    .title {
      font-size: 10px;
    }

    .price {
      font-size: 12px;
    }
  }
}