@import '../../_css/common';

.container {
  width: 100%;
  height: max-content;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-content: flex-end;
}
