@import '../../_css/type.scss';

.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center; // Center content vertically
  background-color: transparent;
  text-decoration: none;
  padding: 10px 24px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 5px; // Add margin between buttons

  @media (max-width: 768px) {
    // On small screens, make buttons full width
    width: 50%;
    margin: 5px 0; // Adjust margin for vertical stacking
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: calc(var(--base) / 2);
    width: var(--base);
    height: var(--base);
  }

  @media (max-width: 768px) {
    svg {
      margin-right: calc(var(--base) / 4);
      width: calc(var(--base) * 0.8);
      height: calc(var(--base) * 0.8);
    }
  }
}

.label {
  @extend %label;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 700;

  @media (max-width: 768px) {
    // Adjust font size on small screens
    font-size: 1rem;
  }
}

.appearance--primary {
  background-color: var(--color-red-500);
  color: var(--theme-elevation-0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

  @media (hover: hover) {
    &:hover {
      background-color: var(--theme-elevation-0);
      color: var(--color-base-1000);
    }
  }
}

.appearance--secondary {
  background-color: var(--theme-elevation-0);
  color: var(--color-base-1000);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-red-500);
      color: var(--theme-elevation-0);
    }
  }
}

.primary--invert {
  background-color: var(--theme-elevation-0);
  color: var(--color-red-500);
}

.secondary--invert {
  background-color: var(--color-red-500);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.appearance--default {
  padding: 0;
  color: var(--theme-text);
}

.appearance--none {
  padding: 0;
  color: var(--theme-text);

  &:local() {
    .label {
      text-transform: none;
      line-height: inherit;
      font-size: inherit;
    }
  }
}