@import '../../../_css/common';

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;

  @include large-break {
    gap: 16px;
    font-size: 14px; // Reduce font size for medium screens
    max-width: 200px; // Limit the width of the filters
  }

  @include small-break {
    gap: 12px;
    font-size: 12px; // Smaller font size for mobile
    max-width: 150px; // Further reduce the width for small screens
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include large-break {
      gap: 12px; // Adjust spacing for medium screens
    }

    @include small-break {
      gap: 8px; // Smaller gap for mobile
    }
  }

  .sizes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columns for large screens
    gap: 10px;

    @include large-break {
      grid-template-columns: repeat(3, 1fr); // 3 columns for medium screens
      gap: 8px; // Adjust spacing for medium screens
    }

    @include small-break {
      grid-template-columns: repeat(2, 1fr); // 2 columns for small screens
    }
  }

  .title {
    font-size: 16px;
    font-weight: bold;

    @include large-break {
      font-size: 14px; // Reduce font size for medium screens
    }

    @include small-break {
      font-size: 12px; // Smaller font size for mobile
    }
  }
}
